.content {
    /* background-image: url('./../../assets/pas.jpg'); */
    background-color: aqua;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.center {
    margin: auto 0;
}


.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    background-color: #58e46f;
    color: #0a0909;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    width: 40%;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.nav-bar:hover {
    background-color: #a9b1aa;
}

a {
    text-decoration: none
}

.row {
    margin-left: 40%;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}