<div>
    <div>
        <h1>PATIENT APPOINTMENT SYSTEM</h1>
    </div>
    <div>
        <div class="dashboard">
            <div class="container text-center">
                <div class="row" style="width: 50%;">
                    <div class="col-md-12">
                        <a href="" routerLink="/patients">
                            <div class="nav-bar">Patient List</div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="" routerLink="/appointments">
                            <div class="nav-bar">
                                Appointment List
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="" routerLink="/patients/create">
                            <div class="nav-bar">Register Patient</div>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <a href="" routerLink="/appointments/create">
                            <div class="nav-bar">Book Appointment</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>