<div class="container">
    <div class="">
        <h2>Dashboard</h2>
    </div>

    <div class="">

        <ul>
            <li>
                <a href="" routerLink="/patients">Patient List</a>
            </li>
            <li>
                <a href="" routerLink="/appointments">Appointment List</a>
            </li>
            <li>
                <a href="" routerLink="/patients/create">Register Patient</a>
            </li>
            <li>
                <a href="" routerLink="/appointments/create">Book Appointment</a>
            </li>
        </ul>
        
        
        
        
    </div>
</div>