<div class="container color-list">
    <div class="container-fluid">
        <h2>Patient List</h2>

        <div class="center" style="width: 60%;">
            <div class="mb-2">
                <input type="text" [(ngModel)]="searchQuery" (input)="searchPatients()" placeholder="Search by name"
                    class="search">
                <button (click)="searchPatients()" class="btnSearch"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </div>



            <table class="table table-bordered center" style="width:100%">
                <thead>
                    <tr>
                        <th class="table-info" scope="col" style="width: 15%;">S.No.</th>
                        <th class="table-info" scope="col">Name / Mobile No.</th>
                        <th class="table-info" scope="col" style="width: 20%;">View Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of filteredPatients; index as i">
                        <th scope="row">{{i+1}}.</th>
                        <td>{{ patient.name }} / {{ patient.mobile }}</td>
                        <td style="text-align: center;">
                            <a [routerLink]="['/patient', patient.id]"><i class="fa fa-eye"
                                    style="color: black;"></i></a>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>