.center {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 20px;
}

.btnSearch {
    background-color: lightblue;
    border: 1px solid #dee2e6;
    height: 28px;
}

.search {
    border: 1px solid #dee2e6;
}