<div class="container" *ngIf="patient">

    <div class="container-fluid">
        <h2>Patient Details</h2>

        <div class="center">
            <table class="table table-bordered center">
                <tbody>
                    <tr>
                        <th class="table-info" scope="row" style="width: 20px;">Name:</th>
                        <td>{{ patient.name }}</td>
                    </tr>
                    <tr>
                        <th class="table-info" scope="row">Mobile:</th>
                        <td>{{ patient.mobile }}</td>
                    </tr>
                    <tr>
                        <th class="table-info" scope="row">Email:</th>
                        <td>{{ patient.email }}</td>
                    </tr>
                    <tr>
                        <th class="table-info" scope="row">Appointment Details:</th>
                        <td>
                            <ol>
                                <li *ngFor="let appointment of appointments">
                                    <div> <strong>Date: </strong> {{ appointment.appointment_date_time | date:'medium'
                                        }} <br> <strong>Notes: </strong> {{ appointment.notes }}</div>
                                </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>