<div class="container">
    <div class="container-fluid">
        <div>
            <h2>Appointments
                Scheduled</h2>
        </div>

        <div div class="center" style="width: 100%;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-info" scope="col" style="width: 10%;">S.No.</th>
                        <th class="table-info" scope="col">Patient Name / Mobile No.</th>
                        <th class="table-info" scope="col">Date & Time</th>
                        <th class="table-info" scope="col">Notes</th>
                        <th class="table-info" scope="col">Payment Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments; index as i">
                        <th scope="row"> {{ i+1 }}. </th>
                        <td scope="row"> {{ appointment.patientName }} / {{ appointment.mobile }} </td>
                        <td scope="row"> {{ appointment.appointment_date_time | date: 'medium' }} </td>
                        <td scope="row"> {{ appointment.notes }} </td>
                        <td scope="row"> {{ appointment.paymentId }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>